body {
  font-family: 'arial black', Gadget, sans-serif;
  width: 100%;
  height: 100%;
}
.topbar {
  text-align: center;
}
#datestring {
  display: none;
}
.centered {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#count {
  font-weight: bold;
  font-size: 300%;
}
select {
  font-size: 2em;
}
#options, #messageBox {
  display: none;
}
.hiddenSubmit {
  position: absolute;
  top: -1000px;
}
.blackonwhite {
  color: black;
  background-color:white;
}
.whiteonblack {
  color: white;
  background-color: black;
}
.blackonpurple {
  color: black;
  background-color: rebeccapurple;
}
.whiteonblue {
  color: white;
  background-color: blue;
}
.blackonyellow {
  color: black;
  background-color: yellow;
}
